@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@500&display=swap');
.navbar{
    font-family: 'Raleway', sans-serif;
    background-color: #F3A024 ;
}
.navbar ul a{
    font-weight: bold;
    margin: auto 5px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}
.navbar ul a:hover{
    background-color: white;
    border-radius: 20px;
}
#home {
    height: 600px;
    background-image: url('/img/pharmacy.jpg');
    background-size:cover; /* o 'contain' según tus necesidades */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.445);
}
#home h1, #home h2{
    position: relative;
    font-family: 'Raleway', sans-serif;
}
#home h1{
    font-size: 3em;
}
#home h2{
    font-size: 2em;
}
#container-home {
    margin: auto 100px !important;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    border-radius: 20px;
}
.doc{
    margin-top: -50px !important;
    width: 100px;
    height: 400px;
}
.doc img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 50%;

}
#services{
    height: 900px;
    background-image:url('/img/heart.jpg');
    background-size:cover;
}

.cards{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.cards_reverse{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.card-body{
    background-image: url('/img/anna.jpg');
    background-size: cover;
}
.card{
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}